name: Sync with upstream

on:
  schedule:
    - cron: "0 0 */14 * *"
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Sync upstream changes
        uses: repo-sync/github-sync@v2
        with:
          source_repo: ossu/computer-science
          source_branch: master
          destination_branch: master
          github_token: ${{ secrets.GITHUB_TOKEN }}
